body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../bob-wrapper/img/background.jpeg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
  }
